// background color of primary button
$btn-action: $egi_blue_light;
$btn-warning: $egi_orange;
$footer-bg: $white;
$footer-text: $black;
$footer-link: $egi_blue_dark;

// text and border color of button that is in the footer
$btn-footer-text: $black;
$btn-footer-border-hover: $silver; // #cdc9c9

// tooltip colors
$tooltip-bg: $egi_blue_dark;
$tooltip-color: $white;

$logo-height: 120px;
